body{
    text-align: center;
    background-color: rgb(210, 233, 233);
    background-position: center;
    background-size: cover;
}

.perfumes
{
    border: 1px solid lightgrey;
}

.perfumes img
{
  width: 50%;
}

.perfumes h5 , .perfumes p
{
margin: 20px;
}
#perfumes{
    font-size: 35px;
    color: black; 
}
.descricao{
    font-size: 25px;
    color: black; 
}
.pg{

}
.pg2{

}
.desc{
    
}

.videosHead
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.videosHead i
{
  float: right;
}

.videosText span
{
  color: orange;
}

#pedidos
{
    color: blueviolet;
    background-color: black;
    width: 100%;
}




